@import 'reset';

header {
    height: 85px;
	width: 100%;
	background-color: #2E3E56;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
}

.woordendiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.woord {
    max-height: 25px;
}

#woordnummer {
    margin-right: 15px;
}

#woordenForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

nav a {
    margin-right: 15px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: auto;
    background-color: aquamarine;
    overflow-x: hidden;
    padding-top: 20px;
}

.main-sidebar {
    margin-left: 160px;
    padding: 0px 10px;
}

.hidden {
    display: none;
}

.lijstDiv {
    display: flex;
    flex-flow: row wrap;
}