@import 'reset';

header {
    height: 85px;
	width: 100%;
	background-color: #2E3E56;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
}

.woordendiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.woord {
    max-height: 25px;
}

#woordnummer {
    margin-right: 15px;
}

#woordenForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: auto;
    background-color: aquamarine;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;
}

.main-sidebar {
    margin-left: 160px;
    padding: 0px 10px;
}

.hidden {
    display: none;
}

.lijstDiv {
    display: flex;
    flex-flow: row wrap;
}

.lijstenHeader {
    height: 50px;
    width: 100%;
    background-color: #2E3E56;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

.lijstenHeader a {
    margin-right: 50px;
}

a {
    color: green;
}

a:visited {
    color: green;
}

.wrapper {
    margin-top: 50px;
}

.test {
    text-shadow: fade-in($color: #000000, $amount: 0);
}

#kaarten {
    display: grid;
    gap: 10px;
    justify-content: center;
}

#kaarten .kaart {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#kaarten .kaart p {
    visibility: hidden;
    opacity: 0;
}

#kaarten .kaart.disabled {
    pointer-events: none;
    opacity: 90;
}

.show > p {
	visibility: visible !important;
	opacity: 100 !important;
}

.matching {
    background-color: greenyellow !important;
}