@import 'reset';

.indexHeader {
    height: 85px;
	width: 100%;
	background-color: #2E3E56;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
}

.indexNav > * {
    margin-left: 15px;
}

.woordendiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.woord {
    max-height: 25px;
}

#woordnummer {
    margin-right: 15px;
}

#woordenForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: auto;
    background-color: aquamarine;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;
}

.sidebar nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.sidebar nav > * {
    padding-top: 25px;
}

.main-sidebar {
    margin-left: 160px;
    padding: 0px 10px;
}

.hidden {
    display: none;
}

.lijstDiv {
    display: flex;
    flex-flow: row wrap;
}

.lijstenHeader {
    height: 50px;
    width: 100%;
    background-color: #2E3E56;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

.lijstenHeader a {
    margin-right: 50px;
}

a {
    color: green;
}

a:visited {
    color: green;
}

.wrapper {
    margin-top: 50px;
}

.test {
    text-shadow: fade-in($color: #000000, $amount: 0);
}

#kaarten {
    display: grid;
    grid: repeat(4, 100px) / repeat(4, 100px);
    gap: 10px;
    justify-content: center;
}

#kaarten .kaart {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#kaarten .kaart p {
    visibility: hidden;
    opacity: 0;
}

#kaarten .kaart.disabled {
    pointer-events: none;
    opacity: 90;
}

.show > p {
	visibility: visible !important;
	opacity: 100 !important;
}

.matching {
    background-color: greenyellow !important;
}

#resultaatDiv {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    width: 400px;
    height: 150px;
}

.foutAntwoord {
    color: red;
}

.klasJoinButton {
    visibility: hidden;
}

.character {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url("../img/character/achtergronden/poppetje.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.character > * {
    position: absolute;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#hoed {
    background-image: url("../img/character/hoed/hoed0.png");
    z-index: 2;
}

#gezicht {
    background-image: url("../img/character/gezicht/gezicht0.png");
    z-index: 1;
}

#buik {
    background-image: url("../img/character/buik/buik0.png");
}

#broek {
    background-image: url("../img/character/broek/broek0.png");
}

#schoenen {
    background-image: url("../img/character/schoenen/schoen0.png");
}

#addKlasDiv {
    visibility: hidden;
}

.shop {
    position: absolute;
    left: 45%;
    background-color: grey;
    display: flex;
    width: 350px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.shop .shopItem {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.shopItem p {
    position: absolute;
    top: 60px;
    left: 80px;
}

#itemId {
    display: none;
}

.shop > button {
    height: inherit;
    border: none;
    outline: none;
    font-size: 4em;
    background-color: grey;
    color: lightgray;
}

.shop > button:hover {
    color: white;
}

.itemSelection {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    width: 600px;
}

.itemSelection > button {
    width: 100px;
    height: 100px;
    padding: 0;
    color: lightgray;
    border: none;
    outline: none;
    font-size: 4em;
    background-color: grey;
}

.itemSelection > button:hover {
    color: white;
}

.itemSelection > button:active {
    color: rgb(158, 158, 158);
}

.itemSelect {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100px;
    height: 100px;
    align-content: center;
    justify-content: center;
}

.itemSelect p {
    position: absolute;
    top: 80%;
}

.itemSelect img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}