@import 'reset';

.indexHeader {
    height: 85px;
	width: 100%;
	background-color: #2E3E56;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
}

.indexNav > * {
    margin-left: 15px;
}

.woordendiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.woord {
    max-height: 25px;
}

#woordnummer {
    margin-right: 15px;
}

#woordenForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: auto;
    background-color: aquamarine;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;
}

.sidebar nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.sidebar nav > * {
    padding-top: 25px;
}

.main-sidebar {
    margin-left: 160px;
    padding: 0px 10px;
}

.hidden {
    display: none;
}

.lijstDiv {
    display: flex;
    flex-flow: row wrap;
}

.lijstenHeader {
    height: 50px;
    width: 100%;
    background-color: #2E3E56;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

.lijstenHeader a {
    margin-right: 50px;
}

a {
    color: green;
}

a:visited {
    color: green;
}

.wrapper {
    margin-top: 50px;
}

.test {
    text-shadow: fade-in($color: #000000, $amount: 0);
}

#kaarten {
    display: grid;
    grid: repeat(4, 100px) / repeat(4, 100px);
    gap: 10px;
    justify-content: center;
}

#kaarten .kaart {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#kaarten .kaart p {
    visibility: hidden;
    opacity: 0;
}

#kaarten .kaart.disabled {
    pointer-events: none;
    opacity: 90;
}

.show > p {
	visibility: visible !important;
	opacity: 100 !important;
}

.matching {
    background-color: greenyellow !important;
}

#resultaatDiv {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    width: 400px;
    height: 150px;
}

.foutAntwoord {
    color: red;
}

.klasJoinButton {
    visibility: hidden;
}

.character {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url("../img/character/achtergronden/achtergrond.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#hoed {
    position: relative;
    top: -13px;
    left: 46%;
    width: 50px;
    height: 50px;
    background-image: url("../img/character/hoeden/hoed.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

#hoofd {
    position: relative;
    top: -11.7%;
    left: 44%;
    width: 70px;
    height: 70px;
    background-image: url("../img/character/hoofden/hoofd.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

#lichaam {
    position: relative;
    top: -20.5%;
    left: 0;
    width: inherit;
    height: 36.7%;
    background-image: url("../img/character/lichamen/shirt.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#broek {
    position: relative;
    top: -25%;
    left: 35%;
    width: 45%;
    height: 50%;
    background-image: url("../img/character/broeken/benen.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#schoenen {
    position: relative;
    top: -29%;
    left: 30%;
    width: 60%;
    height: 10%;
    background-image: url("../img/character/schoenen/schoenen.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}