@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: "Varela Round", sans-serif;
}

.woordendiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.woord {
    max-height: 25px;
}

#woordnummer {
    margin-right: 15px;
}

#woordenForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

.hidden {
    display: none;
}

.lijstDiv {
    display: flex;
    flex-flow: row wrap;
}

.lijstenHeader {
    height: 50px;
    width: 100%;
    background-color: #7ADAF8;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

.lijstenHeader a {
    margin-right: 50px;
}

a {
    color: green;
}

a:visited {
    color: green;
}

.wrapper {
    margin-top: 50px;
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}

#kaarten {
    display: grid;
    grid: repeat(4, 100px) / repeat(4, 100px);
    gap: 10px;
    justify-content: center;
}

#kaarten .kaart {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

#kaarten .kaart p {
    visibility: hidden;
    opacity: 0;
}

#kaarten .kaart.disabled {
    pointer-events: none;
    opacity: 90;
}

.show > p {
	visibility: visible !important;
	opacity: 100 !important;
}

.matching {
    background-color: greenyellow !important;
}

#resultaatDiv {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    width: 400px;
    height: 150px;
}

.foutAntwoord {
    color: red;
}

.klasJoinButton {
    visibility: hidden;
}

//Poppetje

.character {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url("../img/character/achtergronden/poppetje.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.character > * {
    position: absolute;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.character #hoed {
    background-image: url("../img/character/hoed/hoed0.png");
    z-index: 2;
}

.character #gezicht {
    background-image: url("../img/character/gezicht/gezicht0.png");
    z-index: 1;
}

.character #buik {
    background-image: url("../img/character/buik/buik0.png");
}

.character #broek {
    background-image: url("../img/character/broek/broek0.png");
}

.character #schoenen {
    background-image: url("../img/character/schoenen/schoen0.png");
}

#addKlasDiv {
    visibility: hidden;
}

.shop {
    position: absolute;
    left: 45%;
    background-color: grey;
    display: flex;
    width: 350px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.shop .shopItem {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: inherit;
}

.shopItem p {
    position: absolute;
    top: 125px;
    left: 90px;
}

#itemId {
    display: none;
}

.shop > button {
    height: inherit;
    border: none;
    outline: none;
    font-size: 4em;
    background-color: grey;
    color: lightgray;
}

.shop > button:hover {
    color: white;
}

.itemSelection {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    width: 600px;
}

.itemSelection > button {
    width: 100px;
    height: 100px;
    padding: 0;
    color: lightgray;
    border: none;
    outline: none;
    font-size: 4em;
    background-color: grey;
}

.itemSelection > button:hover {
    color: white;
}

.itemSelection > button:active {
    color: rgb(158, 158, 158);
}

.itemSelect {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100px;
    height: 100px;
    align-content: center;
    justify-content: center;
}

.itemDisabled {
    background-color: red;
}

.itemSelect p {
    position: absolute;
    top: 80%;
}

.itemSelect img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.leerlingDiv {
    display: flex;
    flex-flow: row wrap;
}

.klassenScoreDiv {
    display: flex;
    flex-flow: row wrap;
}

.klassenScoreDiv > * {
    margin-right: 5px;
}

.self {
    color: greenyellow;
}

#delete {
    background-image: url('../img/character/delete/trash.png');
    top: 100%;
    transform: translateY(-100%);
}

#algemenevoorwaarden {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    unicode-bidi: plaintext;
    white-space: pre-line;
    word-wrap: break-word;
    -moz-control-character-visibility: visible;
}

#galgjeGuess {
    display: flex;
    flex-flow: row nowrap;
    width: 150px;
}

#galgjeGuess > * {
    margin-right: 2.5px;
    border-bottom: 4px solid black;
    width: 1em;
}

#galgjeDiv {
    height: 480px;
}

#galgjeDiv > * {
    position: absolute;
}

#letters {
    display: flex;
    width: 25%;
    flex-flow: row wrap;
}

#letters > * {
    margin: 5px;
}

//Algemeen

button {
    height: 3em;
    background-color: orange;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
}

input {
    padding: 8px 10px;
    height: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

a {

}

//Login

#welcomeMessage {
    margin-bottom: 15px;
    color: orange;
    font-size: 5em;
    font-weight: 1000;
}

#loginMenu {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.outerBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:30px;
    border-radius: 50px;
    background-color:#7ADAF8;
    width: 780px;
    height: 310px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56C2FA;
    border-radius: 30px;
    width: 45%;
}

#welkomLogo {
    width: 70%;
    height: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 500px;
    background-color: #06c5ff;
}

#loginForm {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 80%;
    height: 80%;
}

#loginForm input {
    height: 2em;
}

//Index

#indexLogo {
    width: 45px;
    height: 45px;
}

#logoDiv {
    font-size: xx-large;
    display: flex;
    flex-flow: row wrap;
    width: 7em;
    justify-content: space-around;
    align-items: center;
}

#logoDiv div {
    display: flex;
}

.indexHeader {
    height: 85px;
	width: 100%;
	background-color: #7ADAF8;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
}

.indexNav > * {
    margin-left: 15px;
    width: 120px;
}

//Sidebar

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: auto;
    background-color: #7ADAF8;
    box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.2);
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;
}

.sidebar nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
}

.sidebar nav > * {
    font-size: 25px;
    height: 58px;
    width: 200px;
    border-radius: 50px;
}

.main-sidebar {
    margin-left: 250px;
    padding: 0px 10px;
}

#sidebarLogo {
    width: 164px;
    height: 164px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 120px;
    background-color: #06c5ff;
}